.container_card {
  width: 100%;
  position: relative;
  padding: 0px;
  overflow: hidden;
  min-height: 108px;
  height: 100%;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  background-color: var(--bg-card);
}

.card_footer {
  width: 100%;
  position: absolute;
  height: 36%;
  bottom: 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: var(--bg-gray-card);
  z-index: -1;
}

.image {
  object-position: center center;
  object-fit: contain;
  width: 100%;
}

.pokemon_name {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: large;
  font-size: smaller;
  font-family: Poppins;
  color: var(--color-gray-scale-dark);
}

.pokemon_id {
  text-align: right;
  padding-top: 4px;
  padding-right: 8px;
  font-weight: 500;
  font-size: large;
  font-family: Poppins;
  color: #666666;
}

.container_image {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

.container_favorite {
  padding: 8px 0px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  z-index: -999;
  
}
.favorite_icon {
  color: var(--primary-color);
  width: 25px;
  height: 25px;
}